<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>EZServices</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- Styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendors/font-awesome/css/fontawesome-all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendors/slick-carousel/slick.css"
    />
    <link
      href="/vendors/ace-responsive-menu/ace-responsive-menu.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/vendors/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <div class="hidden-xs hidden-sm nav-top bg-primary py-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="nav-top-contact">
              <!-- Social links -->
              <ul class="list-inline text-center text-md-left mb-0">
                <li class="list-inline-item mx-2">
                  <i class="fa fa-phone"></i> +91 12345 67890
                </li>
                <li class="list-inline-item mx-2">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  ezservices@gmail.com
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <ul class="list-inline text-center text-md-right mb-0">
              <li
                class="list-inline-item mx-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Facebook"
              >
                <a target="_blank" href="https://www.facebook.com/">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li
                class="list-inline-item mx-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Instagram"
              >
                <a target="_blank" href="https://www.instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li
                class="list-inline-item mx-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Twitter"
              >
                <a target="_blank" href="https://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Header -->
    <header class="main-header">
      <div class="container">
        <div class="logo">
          <a href="/">
            <h2><span>EZ</span>Services</h2>
          </a>
        </div>
        <!-- Navbar -->
        <nav class="mainNav">
          <!-- Menu Toggle btn-->
          <div class="menu-toggle">
            <h3>Menu</h3>
            <button type="button" id="menu-btn">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Responsive Menu Structure-->
          <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
          <ul
            id="respMenu"
            class="ace-responsive-menu"
            data-menu-style="horizontal"
          >
            <li>
              <a href="/" class="active">
                <span class="title">Home</span>
              </a>
            </li>
            <li>
              <a href="/services">
                <span class="title">Services</span>
              </a>
            </li>
            <li class="last">
              <a href="/contact">
                <span class="title">Contact Us</span>
              </a>
            </li>
            <li>
              <a href="/login">
                <span class="title">Login</span>
              </a>
            </li>
            <li>
              <a href="/signup">
                <span class="title">SignUp</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End Navbar -->